<h1><%=@advertisement.title%></h1>
<p><%=@advertisement.copy%></p>




<!-- <h1 class="text-center"> <%= @advertisement.title %> </h1>



<h1><%= "$#{@advertisement.price}: #{@advertisement.title}" %> </h1>
<p><%= @advertisement.copy%></p>
